doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Home Page
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
        link(rel="stylesheet" href="css/home.css")

    body
        .container
            h1 Welcome Home
            p You have successfully logged in!
            p This is the home page of your application.
            nav
                ul
                    li
                        a(href="/profile") Profile
                    li
                        a(href="/settings") Settings
                    li
                        a(href="/logout") Logout
                    li
                        a(href="/logout-all") Logout All